<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="address" value="http://127.0.0.1/" />
    <add key="robotqq" value="3164170991" />
    <add key="masterqq" value="415206409" />
    <add key="tencent_appkey" value="*" />
    <add key="tencent_appid" value="*" />
  </appSettings>
</configuration>